/.metadata/
adidas-subscription-api/mvnw
adidas-subscription-api/mvnw.cmd
adidas-subscription-api/.mvn/
RemoteSystemsTempFiles/.project
/.recommenders/
EurekaServer/.classpath
EurekaServer/.project
EurekaServer/.settings/
EurekaServer/target/
adidas-email-api/mvnw
adidas-email-api/mvnw.cmd
adidas-email-api/.mvn/
